<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JKirchartz Plaintext Resume</title>
    <script>
      window.addEventListener('load', function(){
        var items = document.querySelectorAll('.Experience article.row');
        var showItems = parseInt((window.location.hash).slice(1), 10);
        for (var i = 0; i < items.length; i++) {
          if ((i + 1) > showItems) {
            items[i].style.display = "none";
          }
        }
      });
    </script>
  </head>
  <body>
    <header>
        <h1>Joel Kirchartz</h1>
        <p class="lead">Senior Full&ndash;Stack Developer</p>
        <p>
          <a href="&#x6D;&#97;&#x69;&#x6C;&#116;&#x6F;:&#x6D;e&#64;&#x6A;&#x6B;&#105;&#x72;&#99;&#x68;&#97;r&#x74;&#122;&#x2E;&#x63;&#x6F;&#109;"><i class="fa fa-envelope-o"></i>&#x6D;e&#64;&#x6A;&#x6B;&#105;&#x72;&#99;&#x68;&#97;r&#x74;&#122;&#x2E;&#x63;&#x6F;&#109;</a><br>
          <a href="tel:4122593675"><i class="fa fa-phone"></i> 412.259.DORK</a><br>
          <a href="http://jkirchartz.com"><i class="fa fa-globe"></i> jkirchartz.com</a><br>
          <a href="https://github.com/jkirchartz"><i class="fa fa-github"></i> github.com/jkirchartz</a><br>
          <a href="https://linkedin.com/in/jkirchartz"><i class="fa fa-linkedin"></i> linkedin.com/in/jkirchartz</a>
        </p>
        <p>
          Polyglot programmer and advocate of accessible, web-standard, and open-source technologies with over 15 years of experience in planning, creating, maintaining, and optimizing interactive experiences
        </p>
    </header>
    <main>
      {{#each sections}}
        <section>
          {{#with header}}
              <h2>{{ text }}</h2>
          {{/with}}
          {{#each items}}
                <h3>{{ heading }} &ndash; {{ subheading }} &mdash; {{ time }}</h3>
                <p>{{ description }}</p>
                {{#if clients}}
                    <h4>Clients:</h4>
                    <ul>
                      {{#each clients}}
                        <li class="list-item">{{this}}</li>
                      {{/each}}
                    </ul>
                  </p>
                {{/if}}
          {{/each}}
        </section>
      {{/each}}
      </main>
      <aside>
        <h4>Technologies</h4>
          <ul>
            <li>Javascript</li>
            <li>NodeJS</li>
            <li>Python</li>
            <li>PHP</li>
            <li>Bash</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap</li>
            <li>SemanticUI</li>
            <li>LESS</li>
            <li>SASS</li>
            <li>PostCSS</li>
            <li>SVG</li>
            <li>SQL</li>
            <li>MongoDB</li>
            <li>Vagrant</li>
            <li>JQuery</li>
            <li>Roots.io (Trellis, Sage, Bedrock)</li>
            <li>Ansible</li>
            <li>Grunt/Gulp</li>
            <li>GIT</li>
            <li>SVN</li>
          </ul>
        </p>
        <h4>Applications</h4>
        <p>
          <ul>
            <li>Adobe Creative Suite</li>
            <li>Microsoft Office Suite</li>
            <li>G Suite by Google</li>
          </ul>
        </p>
        <h4>Operating Systems</h4>
        <p>
          <ul>
            <li>Windows 7/8/10</li>
            <li>Mac OSX</li>
            <li>Linux (Fedora, CentOS, Debian. Ubuntu, Arch, CrunchBang/BunsenLabs)</li>
          </ul>
        </p>
        <h4>Side Projects</h4>
        <h5>Glitchy 3bit Dither</h5>
        <p>Client-side javascript to create glitch-aesthetic images.<br><a href="http://jkirchartz.com/Glitchy3bitdither">jkirchartz.com/Glitchy3bitdither</a></p>
        <h5>NaNoGenMo</h5>
        <p>National Novel Generation Month: generate 50,000 word novels programatically using AI and ML techniques.<br><a href="http://jkirchartz.com/NaNoGenMo">jkirchartz.com/NaNoGenMo</a></p>
        <h5>Twitter Bots</h5>
        <p>Various Twitter bots.<br><a href="http://twitter.com/jkirchartz/lists/my-bots">twitter.com/jkirchartz/lists/my-bots</a></p>
      </aside>
  </body>
</html>
